body {background-color:black; font-family:times new roman; color:#F7C232;}
.container {margin:0;}

.meow {color:#f5d68a;
text-shadow: #ff0000 0px 0px 5px, #ff6600 0px 0px 10px, #ffff00 0px 0px 15px, #00ff00 0px 0px 20px, #0099ff 0px 0px 30px, #9933ff 0px 0px 40px, #ff00ff 0px 0px 50px, #ffffff 0px 0px 75px;}

.gallery {
  font-family:times new roman; color:#F7C232; font-size:15px;
  border:outset;
width:67%;
position:absolute;
right:1%;
background-image:url('https://media.discordapp.net/attachments/904127172577472512/972258283761066094/ezgif-5-db14fdffdfdfdfddfdfdf6e346d.gif?width=380&height=292');
 z-index:1;}

.comms {
  font-family:times new roman; color:#F7C232; font-size:15px;
  border-top:outset;
 border-left:outset;
  border-bottom:outset;
  height:500px;
  width:31.3%;
  background-image:url('https://media.discordapp.net/attachments/904127172577472512/972258283761066094/ezgif-5-db14fdffdfdfdfddfdfdf6e346d.gif?width=380&height=292');
  z-index:100;
  position:fixed;
    top:3;
  
}

.doll {position: absolute;
left:-1%;
top:60%;}

.hi {position:absolute;
width:200px; 
top:64%;
right:18%;
color:black;
font-family:"georgia", "times new roman";}

.huh {position:absolute;
top:96%;
right:70%;
z-index:100;}

.click {color:#f5d68a;
text-shadow: #ff0000 0px 0px 5px, #ff6600 0px 0px 10px, #ffff00 0px 0px 15px, #00ff00 0px 0px 20px, #0099ff 0px 0px 30px, #9933ff 0px 0px 40px, #ff00ff 0px 0px 50px, #ffffff 0px 0px 75px;}
.click:hover {text-decoration: underline; -webkit-animation:rainbow 2s linear infinite alternate;}

::selection {color:white;}

@-webkit-keyframes rainbow {
    0%   {color:#ee1e1e;        }
    10%  {color:#ed6817;     }
    20%  {color:#f0d151;       }
    30%  {color:#eadf4e;     }
    40%  {color:#d4ee34;}
    50%  {color:#49ee2a;      }
    60%  {color:#32e9af;       }
    70%  {color:#3d60ee;       }
    80%  {color:#b627dc;     }
    90%  {color:#f039a2;    } 
    100% {color:#ee1e1e;     }
}

.custom {
  position:absolute;
  width:500px;
  height:300px;
  color:black;
font-family:"georgia", "times new roman";
top:10%;
  left:50%;
  display:none;
  z-index:200;
}

.scr {overflow:auto;
width:480px;
  height:300px;}



.click2 {color:#f5d68a;
text-shadow: #ff0000 0px 0px 5px, #ff6600 0px 0px 10px, #ffff00 0px 0px 15px, #00ff00 0px 0px 20px, #0099ff 0px 0px 30px, #9933ff 0px 0px 40px, #ff00ff 0px 0px 50px, #ffffff 0px 0px 75px;}
.click2:hover {text-decoration: underline; -webkit-animation:rainbow 2s linear infinite alternate;}

.click3 {color:#f5d68a;
text-shadow: #ff0000 0px 0px 5px, #ff6600 0px 0px 10px, #ffff00 0px 0px 15px, #00ff00 0px 0px 20px, #0099ff 0px 0px 30px, #9933ff 0px 0px 40px, #ff00ff 0px 0px 50px, #ffffff 0px 0px 75px;}
.click3:hover {text-decoration: underline; -webkit-animation:rainbow 2s linear infinite alternate;}

.click4 {color:#f5d68a;
text-shadow: #ff0000 0px 0px 5px, #ff6600 0px 0px 10px, #ffff00 0px 0px 15px, #00ff00 0px 0px 20px, #0099ff 0px 0px 30px, #9933ff 0px 0px 40px, #ff00ff 0px 0px 50px, #ffffff 0px 0px 75px;}
.click2:hover {text-decoration: underline; -webkit-animation:rainbow 2s linear infinite alternate;}


.queue {
  position:absolute;
  width:200px;
  height:100px;
  color:black;
font-family:"georgia", "times new roman";
top:70%;
  right:10%;
  display:none;
  z-index:200;
  
}

::-webkit-scrollbar{
width: 13px;
height: 13px;
}
::-webkit-scrollbar-thumb{
background: #0011FF;
border: 3.1px none #000000;
border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
background: #0084FF;
}
::-webkit-scrollbar-track{
background: #F0F0F0;
border-radius: 0px;
box-shadow: inset -5.3px 2.7px 7px -1px #000000;
}
